body{
    margin: 0;
    padding: 0;
    background-color: #222428;
}

header{
    width: 100%;
    height: 75px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
}


ul li{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.icono{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 35px;
}

.foto{
    background-image: url('https://lh3.googleusercontent.com/ogw/ADea4I47vpYRR0GlFIB1oOwReNWUtYjQhvEwQ7rowhqhgA=s32-c-mo');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main{
    margin-top: 130px;
    text-align: center;
}

.logo-google{
   width: 500px;
   margin: 0 auto;
   margin-bottom: 30px;
}

.logo-google img{
    width: 272px;;
    height: 100px;
 }


.main-google{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-google div{
    width: 520px;
    border-radius: 100px;
    border: 1px solid #bdc1c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-google input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    background-color:#222428;
    color: white;
}

.main-google div:hover{
    box-shadow: 0 1px 6px 0;
}

.search{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.microfono{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 22px;
}

.botones{
    width: 530px;
    margin: 0 auto;
}

.botones div{
    display: inline-block;
}

.botones div button{
    height: 40px;
    border: 1px solid #303134;
    border-radius: 4px;
    background-color: #303134;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 4px;
}

.botones div button:hover{
    border: 1px solid white
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 14px;
    background-color: #171717;
    border-bottom: 1px solid #3c4043;
}

footer ul{
    margin: 10px;
    display: flex;
    list-style: none;
}

footer .izquierda{
    justify-content: flex-end;
}


footer ul a{
    margin: 10px;
    color: #9aa0a6;
    font-family: sans-serif;
}